################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/IIDXCON_ADAPTER/bin/
/IIDXCON_ADAPTER/obj/
.vs
